@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  25% {
    background-position: 75% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 80px));
  }
}
@keyframes reverse-scroll-x {
  0% {
    transform: translateX(calc(-100% - 80px));
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-banners {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 23px));
  }
}
@keyframes reverse-scroll-banners {
  from {
    transform: translateX(calc(-100% - 23px));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translate(20%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-top {
  from {
    opacity: 0;
    transform: translateY(-180%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.reveal {
  opacity: 0;
}

.reveal.active {
  --duration: 0.5s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
  animation-name: slide;
  animation-duration: var(--duration);
  // animation-delay: calc(var(--interval) * var(--i));
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &:nth-child(even) {
    animation-name: slide-right;
  }
}
