$button-bg-primary: #0d92f4;
$text-gray: #18181bb2;
$text-black: #18181b;
$border-color: #2563eb66;
$desc-gray: #18181b99;
$container-box: #0d92f4;
$footer-link: #4b5563;
$container-bg: #fcfcfe;
$filter-text-black: #030712;
$filter-text-red: #e11d48;
$filter-checkbox-text: #121212cc;
$filter-range: #007bff;
$filter-input-txt: #9ca3af;
$filter-container-border-color: #dfe6f4;
$filter-container-bg: #fcfcfe;
$filter-container-text-gray: #4b5563;
$filter-price-green: #32b141;
$filter-price-bg-green: #32b1411a;
$container-gray-border: #ffffff1a;
$container-gray-desc: #18181be5;
$work-text-grey: #0a0a0ab2;
$section-bg: #f6f9fe;
$section-salery-bg: #4a87fe1a;
$section-salery-color: #4a87fe;
$section-out-bg: #0a0a0a73;
