.button {
  &-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  &-icon {
    &-left {
      display: flex;
      align-items: center;
    }
  }
}
