.button {
  &-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  &-icon {
    &-left {
      display: flex;
      align-items: center;
    }
  }
}
.dynamic-button {
  font-size: inherit;
  width: inherit;
  max-width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: inherit;

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  }

  .button-text {
    display: flex;
    justify-content: center;
    font-size: inherit;

    @media (max-width: 1200px) {
      font-size: 12px;
      line-height: 14.09px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 19.09px;
    }
  }

  .button-icon-left {
    display: flex;
    align-items: center;
  }
  .secondary:hover,
  .secondary:focus {
    background: #3730a3;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  outline: inherit;
  cursor: pointer;
  font-family: inherit;

  height: 44px;
  column-gap: 8px;
  padding: 12px;

  font-size: 16px;
  line-height: 20px;

  padding: 12px 20px;

  &.sm {
    padding: 10px 24px;

    @media (max-width: 1200px) {
      padding: 8px 16px;
    }

    @media (max-width: 768px) {
      padding: 8px 16px;
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
  }

  @media (max-width: 480px) {
    height: 40px;
    padding: 10px;
    font-size: 14px;
  }

  &.secondary {
    background: $button-bg-primary;
    color: #ffffff;
    box-shadow: 0px 0px 20px 0px #00000026;
    transition: all 0.2s;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    @media (max-width: 480px) {
      padding: 10px 16px;
    }
  }

  &.primary {
    background: #ffffff;
    color: $button-bg-primary;
    border: 1px solid $button-bg-primary;
    transition: all 0.2s;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }

    @media (max-width: 480px) {
      padding: 10px 16px;
    }
  }
}

.button.secondary:disabled,
.button.primary:disabled {
  background: #f5f5f5;
  box-shadow: none;
  color: #a3a3a3;
  pointer-events: none;
}
