.development {
  padding: 120px 120px 0 120px;

  @media (max-width: 1200px) {
    padding: 60px 60px 0 60px;
  }

  @media (max-width: 768px) {
    padding: 30px 30px 0 30px;
  }

  &-container {
    height: 400px;
    max-width: 100%;
    border-radius: 20px;
    background: url("../../images/development/mask-devel.svg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 768px) {
      height: auto;
      padding: 20px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;

      &-title {
        max-width: 520px;
        font-size: 36px;
        line-height: 48px;
        color: #fff;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 28px;
          line-height: 36px;
        }

        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      &-desc {
        max-width: 378px;
        font-size: 16px;
        line-height: 24px;
        color: #ffffffcc;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 20px;
        }

        @media (max-width: 480px) {
          max-width: 100%;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
