.footer {
  color: #1a1a1a;
  background-color: #fff;

  &-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 170px;
    padding: 30px 120px;

    @media (max-width: 1200px) {
      padding: 20px 60px;
      gap: 100px;
    }

    @media (max-width: 768px) {
      padding: 20px 40px;
      gap: 80px;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 50px;
      align-items: center;
      padding: 20px;
    }

    &__logo {
      width: 96.73px;
      height: 52px;
    }

    &__links {
      display: flex;
      justify-content: space-around;
      gap: 188px;
      flex: 4;

      @media (max-width: 1200px) {
        gap: 120px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
      }

      &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 100px;

        @media (max-width: 1200px) {
          gap: 60px;
        }

        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
        }

        @media (max-width: 480px) {
          grid-template-columns: 1fr;
          gap: 30px;
        }
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: 768px) {
        align-items: center;
      }

      &.number {
        align-items: flex-start;
        justify-content: center;

        @media (max-width: 768px) {
          align-items: center;
        }

        a {
          gap: 12px;
          display: flex;
          justify-content: center;
        }
        img {
          filter: brightness(0.7);
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.48px;

        @media (max-width: 768px) {
          text-align: center;
        }

        @media (max-width: 480px) {
          font-size: 16px;
        }
      }

      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        text-decoration: none;
        transition: color 0.3s ease;
        color: $footer-link;

        &:hover {
          color: #00ffc3;
        }

        @media (max-width: 480px) {
          font-size: 14px;
        }
      }

      .footer-socials {
        display: flex;
        gap: 20px;

        @media (max-width: 480px) {
          gap: 10px;
        }

        a {
          font-size: 14px;

          @media (max-width: 480px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;

    // height: 52px;
    padding: 16px 120px;

    background: #f7f7f7;

    @media (max-width: 768px) {
      padding: 8px 20px;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    @media (max-width: 480px) {
      padding: 4px 20px;
      font-size: 10px;
    }
  }
}
