.app-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 120px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 3;

  &__icon {
    width: 78px;
    height: 42px;

    &-image {
      max-width: 100%;
      height: auto;
    }
  }

  &__links {
    display: flex;
    gap: 42px;
    list-style: none;

    &--open {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #fff;
      padding: 16px;
      border-radius: 8px;
      width: 200px;
      box-shadow: 0px 4px 8px 0px #00000029;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    a {
      color: #171717;
      text-decoration: none;
      transition: all 0.1s;

      &:hover {
        color: $container-box;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;

    &-wrapper {
      display: flex;
      gap: 16px;
    }
  }

  &__langs {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    .app-navbar__lang-body {
      display: none;
    }

    &.open {
      .app-navbar__lang-body {
        display: flex;
        position: absolute;
        box-shadow: 0px 4px 8px 0px #00000029;

        top: 200%;
        left: 50%;
        transform: translateX(-50%);

        padding: 24px;
        gap: 20px;
        border-radius: 12px;
        border: 1px solid $filter-container-border-color;
        background: $filter-container-bg;

        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &-title {
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    position: relative;
    transition: all 0.3s;

    &.open {
      span:first-child {
        transform: rotate(45deg);
      }
      span:last-child {
        transform: rotate(135deg);
      }
      span:nth-child(2) {
        display: none;
      }
      span:first-child,
      span:last-child {
        position: absolute;
        right: 30%;
      }
    }

    span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: #000;
      border-radius: 2px;
      transition: 0.3s;
    }

    &:hover span {
      background-color: #444;
    }
  }

  @media (max-width: 1200px) {
    padding: 12px 80px;

    &__icon {
      width: 60px;
      height: 32px;
    }

    &__links {
      gap: 30px;
    }
  }

  @media (max-width: 768px) {
    padding: 12px 20px;

    &__links {
      display: none;

      &--open {
        display: flex;
      }
    }

    &__actions {
      display: none;
    }

    &__hamburger {
      display: flex;
    }
  }
}
